@import "../../scss/variables";

.menu-wrapper {
    background-color: $dark-gray;
    display: flex; 
    // position: fixed;
    height: 140px;
    width: 100%;
    flex-direction: column;
    // padding: 1.5rem;

    .logo-menu {
        width: 160px;
        cursor: pointer;
    }

    .top-side {
        // gap: 50px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0rem 0.5rem;
        padding-bottom: 1.5rem;
        align-items: center;
        position: relative;
        z-index: 1;

        .counter {
            font-family: $font-family;
            margin-left: 30px;
            position: absolute;
            background-color: rgb(244, 244, 154);
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 60px;
        }
    }

    .wrapper-menu-btns {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .cart-counter {
            width: 40px;

            .cart-icon {
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .bot-side {
        color: $white;
        font-family: $font-family;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        margin-bottom: 30px;
        // border-top: 1px solid rgba(53, 53, 53, 0.744);
        position: relative;
        z-index: 1;
        // border-bottom: 2px solid $dark-gray;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        
        
        .menu-item {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            padding-top: 5px;

            &:hover {
                color: $yellow;
            }
        }
    }

    .ondinha {
        position: absolute;
        bottom: -34px;
        left: 0;
        z-index: -1;
    }
}