@import "../../scss/variables";


@media (min-width: 400px) and (max-width: 800px) {
  .backgroud {
    background-image: url(../../assets/backgroud.png);
    background-size: 70%;
    overflow-x: hidden;
    font-family: $font-family;
    overflow: hidden;
  }
  
  .banner {
    text-align: center;
    margin: 3.0rem 0;
  
    .titulo{
      align-items: center;
    }
  
    h1{
      font-size: 40px;
      color: #24212D;
      font-weight: bold;
    }
  
    h2 {
      color: #24212D;
      font-size: 20px;
    }
  
    #button_banner {
      background-color: $dark-gray;
      color: #fff;
      padding: 20px;
      text-decoration: none;
      border-radius: 10px;
      font-size: 20px;
      width: 30vh;
      text-align: center;
      transition: all 0.3s ease-in-out;

    }
  
    .img_menu img{
      display: none;
    }
  }
  
  .delicias {
    display: flex;
    justify-content: center;
    align-items: center;
  
    img{
      width: 100%;
      margin-bottom: 2.0rem;
    }
  }
  
  
  .pedaco {
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    background-color: $yellow;
    margin: 50px 0;
    min-height: 50vh;
  
    img {
      width: 40%;
    }
  
    .texto_pedaco {
      width: 50%;
      text-align: left; 
  
      h2 {
        font-size: 30px;
        color: $red;
        font-family: $cursive-font;
        margin-bottom: 20px;
      }
  
      p {
        line-height: 1.6;
        color: #464545;
        font-size: 0.9rem;
      }
    }
  }
  
  .products-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem 0rem 1rem;
    gap: 1rem;
  
    span {
      font-size: 40px;
      text-align: center;
      font-family: $font-family;
      color: $dark-gray;
      padding: 20px 0;
    }
  }

  .title_products {
    font-family: $cursive-font !important;
    margin: 3.0rem 0;
  }

}