@import "../../scss/variables";

.alternative-btn {
    display: inline-block;
    position: relative;
  
    .bite {
      position: absolute;
      right: -10px; 
      top: 6%;
      transform: rotate(60deg);
     
      display: flex;
      z-index: 0;
  
      .circle {
        width: 20px;
        height: 20px;
        background-color: $dark-gray; 
        border-radius: 50%;
        margin-left: -2px; 
      }
    }
  }