@import "../../scss/variables";

.modal-wrapper {
    background-color: $white;
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    margin: 0px 30px;
    padding: 1rem;
    gap: 20px;

    .modal-header {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgba(81, 81, 81, 0.357);
        padding: 1rem 0rem 1rem 1rem;
        justify-content: space-between;

        .modal-title {
            font-family: $cursive-font;
            font-size: 30px;
            color: $dark-gray;
        }

        .close-modal {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

    .modal-body {
        display: flex;
        gap: 10px;
        width: 100%;
        height: 100%;

        .modal-desc {
            display: flex;
            padding: 10px;
            flex-direction: column;
            justify-content: space-between;

            .description {
                display: flex;
                flex-direction: column;
                gap: 20px;
                p {
                   &:last-child {
                    font-size: 18px;
                   } 
                   &:first-child {
                    font-size: 25px;
                    font-family: $cursive-font;
                    color: $alt-green;
                   }
                }
            }

            .modal-btn-wrapper {
                
                display: flex;
                justify-content: space-between;
                font-size: 13px;
                gap: 5px;

                .btn-add {
                    display: flex;
                    height: 100%;
                    gap: 10px;

                    button {
                        height: 100%;
                        background-color: $alt-green;
                        color: white;
                        padding: 0.7rem 0.5rem;
                        cursor: pointer;
                        border: 2px solid $alt-green;
                        border-radius: 15px;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: $alt-green;
                            background-color: white;
                        }
                    }

                    input {
                        height: 100%;
                        border: 1px solid $alt-green;
                        border-radius: 10px;
                        font-size: 10px;
                        text-align: center;
                        font-size: 20px;
                        background-color: rgba(204, 204, 204, 0.13);
                        color: #646060;

                        &:focus {
                            outline: none;
                            
                        }
                    }
                }

                .product-quantity {
                    width: 50px;
                    
                }
            }
        }
    }

    .modal-img {
        width: 400px;
        height: 400px;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
        }
    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        width: 100%;
        

        .imgs {
            gap: 10px;
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 20px;
        }
        

        img {
            border-radius: 20px;
            cursor: pointer;
            width: 100px;
            height: 100px;
        }
    }

    .storage {
        p {
            &:first-child {
                color: $alt-green;
            }
            &:last-child {
                color: $light-gray;
            }
        }
    }
}
