@import "../../scss/variables";

.wrapper-payout {
    font-family: $font-family;
    width: 100%;
    gap: 1rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 1rem;

    .first-column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: 100%;
        
        .title {
            font-size: 30px;
            font-weight: bold;
        }

        .header {
            display: flex;
            font-weight: bold;
            width: 100%;
            justify-content: space-around;
            padding: 1rem;
            border-bottom: 2px solid $soft-gray;
            
            
        }

        .wrapper-items {
            display: flex;
            width: 100%;
            height: 100%;
            overflow:auto;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            border-bottom: 2px solid $soft-gray;
            padding-bottom: 1rem;

            .row-item {
                width: 100%;
                display: flex;
                min-height: 200px;
                max-height: 200px;
                
                align-items: center;
                
                justify-content: space-around;
                padding: 1rem;

                .wrapper-quantity {
                    display: flex;
                    flex-direction: row;
                    width: 80px;
                    font-size: 20px;
                    border: none;
                    p {
                        &:first-child {
                            font-size: 30px;
                            cursor: pointer;
                           
                        }
                        &:last-child {
                            font-size: 30px;
                            cursor: pointer;
                        }
                    }
                }

                span {
                    display: flex;
                    width: 300px;
                    gap: 10px;
                    flex-direction: column;
                    align-items: center;
                }

                img {
                    width: 150px;
                    height: 150px;
                }
            }
        }

        .subtotal {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            gap: 5px;
            
            
            span {
                display: flex;
                gap: 20px;
                width: 100%;
                justify-content: space-between;

                label {
                    color: $dark-gray;
                }

                .green {
                    color: $green;
                }

                &:last-child {
                    align-items: center;
                    justify-content: center;
                    padding-top: 10px;
                    font-size: 20px;
                    border-top: 1px solid $light-gray;
                    font-weight: bold;
                    color: black;
                    label {
                        color: black;
                    }
                }
            }
        }
    }

    .second-column {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-radius: 10px;
        height: 500px;
        background-color: $soft-gray;
        
        padding: 1.3rem;
        max-width: 500px;
        gap: 1rem;
        height: 100%;
        justify-content: space-between;

        .title {
            font-size: 25px;
            
            font-weight: bold;
        }

        .payment-info {
            display: flex;
            gap: 20px;
            flex-direction: column;
            
           

            span {
                display: flex;
                flex-direction: column;
                gap: 5px;
            
                label {
                    color: $dark-gray;
                    font-size: 20px;
                }

                p {
                    font-size: 18px;
                }
            }

            .btn-checkout {
                display: flex;
               
                
                align-items: center;
                padding: 1rem;
                font-weight: bold;
                font-size: 15px;
                align-content: center;
                justify-content: center;
                background-color: $green;
                outline: none;
                border: $green;
                color: white;
                border-radius: 5px;
                border: 3px solid $green;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $green;
                    background-color: transparent;
                }
            }
        }
    }

}


@media screen and (max-width: $medium) {
   .wrapper-payout {
        flex-direction: column;
        .second-column {
            width: 100%;
        }
   }
}
