@import "../../scss/variables";

.wrapper-user-page {
  width: 100%;
  height: 100vh;
  gap: 10px;
  background-color: $dark-gray;
  font-family: $font-family;
  display: flex;
  

  align-items: center;
  justify-content: center;
  align-content: center;

  .container-user-page {
    margin: 10px;
    display: flex;
    color: white;
    border-radius: 10px;
    background-color: $dark-pink;
    flex-direction: column;
    width: 80%;
    max-width: 700px;

    .header-user-page {
      justify-content: space-between;
      display: flex;
      width: 100%;
      align-items: center;
      padding: 1.5rem;

      .row {
        display: flex;

        align-items: center;
        gap: 15px;

        img {
          &:last-child {
            width: 130px;
          }
        }

        .greeting {
          line-height: 17px;
          p {
            &:first-child {
              font-size: 13px;
            }
            &:last-child {
              font-size: 15px;

              font-weight: bold;
            }
          }
        }

        .exit {
          display: flex;
          gap: 8px;
          align-items: center;
          justify-content: center;
          border-left: 1px solid $white;
          padding: 0.5rem;
          font-size: 15px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .content-user-page {
      display: flex;
      width: 100%;
      flex-direction: column;
      color: $black;
      border-radius: 10px;
      gap: 30px;
      background-color: $white;
      padding: 1rem;

      .return {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        width: fit-content;

        p {
          text-decoration: underline;
          cursor: pointer;
        }

        .title {
          border-left: 2px solid $light-gray;
          padding: 0 1rem;
          color: rgb(175, 175, 175);
        }
      }

      .wrapper-page {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding: 1rem;

        .title-user-page {
          span {
            line-height: 30px;
            b {
              font-weight: bold;
              font-size: 25px;

              color: $dark-pink;
            }
          }
          p {
            font-size: 14px;
          }
        }

        .wrapper-card-page-user {
          display: flex;
          flex-direction: row;
          gap: 10px;
          width: 100%;
          justify-content: space-around;

          .card-user-page {
            cursor: pointer;
            display: flex;
            border-radius: 10px;
            justify-content: center;
            align-items: flex-end;
            width: 40%;

            background-color: $dark-pink;
            transition: all 0.5s ease-in-out;

            .card-content {
              display: flex;
              flex-direction: column;
              background-color: rgb(235, 235, 235);
              gap: 10px;
              padding: 15px;
              width: 100%;
              height: 94%;

              border-radius: 10px;

              .title {
                font-weight: bold;
                color: $dark-pink;
                font-size: 20px;
              }

              .subtitle {
                font-size: 15px;
              }

              img {
                width: 30px;
                height: 30px;

                &:last-child {
                  width: 25px;
                  bottom: 0;
                }
              }
            }

            &:hover {
              background-color: $light-pink;
            }
          }
        }
      }

      .page-user-container {
        width: 100%;
        height: 100%;
        display: flex;

        flex-wrap: wrap;
        flex: 1;
        gap: 20px;

        span {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 5px;
        }

        label {
          margin-left: 5px;
        }

        input {
          color: $dark-gray !important;
          border: 2px solid $dark-pink;

          &:focus {
            border: 2px solid $red;
          }
        }
      }
    }
  }
}

.address-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  table {
    width: 100%;
    thead {
      background-color: $dark-pink;
      padding: 5px;
      height: 60px;
    
      align-items: center;
      justify-content: center;
      align-content: center;
      margin: 0 auto;
      font-size: 13px;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }

    
    
    tbody tr:nth-child(even) {
      background-color: #78b2ca31;
    }
    
    td:last-child {
      box-shadow: inset -10px 0px 0px -8px $dark-pink;
    }

    tbody tr {
      box-shadow: inset 2px 0px 1px 0px $dark-pink;
    }
    
    tbody tr:last-child {
      border: 0;
      box-shadow: inset 1px -1px 0px 1px $dark-pink;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    tbody tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
      
    }

    td,
    th {
      font-size: 12px;
      padding: 1rem;
      text-align: center;
      justify-content: center;
      align-content: center;
      margin: 0 auto;
      width: 10px;
    }

    tbody tr {
      &:hover {
        background-color: $light-pink;
        cursor: pointer;
        border: 0;
     
      }
    }

    th:first-child {
      border-top-left-radius: 10px;
    }

    th:last-child {
      border-top-right-radius: 10px;
    }
  }
}

.page-address-container {
  margin: 1rem;
  max-width: 600px;
  background-color: $white;
  padding: 1rem;
  display: flex;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;

  flex-wrap: wrap;
  flex: 1;
  gap: 20px;

  span {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  label {
    margin-left: 5px;
  }

  input {
    color: $dark-pink !important;
    border: 2px solid $dark-pink;

    &:focus {
      border: 2px solid $red;
    }
  }

  section {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.modal-content {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 30rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }

  .modal-order-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}