
//COLORS

$black: rgb(21, 21, 21);
$white: rgb(247, 247, 247);
$dark-gray: #49445B;
$green: #BBBF4E;
$light-green: #C4F2DEA0;
$dark-pink: #E5919C;
$pink: #F2B4AE;
$light-pink:#FFE1D7;
$red: #BF0B0B;
$yellow: #f2dea0;

$small: 300px;
$medium: 900px;

$font-family: "Josefin Sans", sans-serif;
$font-title: "Leckerli One",sans-serif;