
//COLORS

$black: rgb(21, 21, 21);
$white: rgb(247, 247, 247);
$dark-gray: #49445B;
$green: #6EC397;
$light-green: #C4E2C6;
$dark-pink: #E5919C;
$pink: #F2ADB0;
$light-pink: #FFE1D7;

$small: 300px;
$medium: 900px;

$font-family: "Josefin Sans", sans-serif;